* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}

li::marker {
    content: 'âœ ';
    font-size: 1.2em;
    color: blue;
}

body > div {
    width: 50%;
}

body > div:first-child {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.profile-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.details > * {
    padding: 1rem;
    font-family: "Lucida Grande";
}

#header {
    z-index: 3;
    position: fixed;
    right: 3vw;
    top: 3vw;
    padding: 10px;
    line-height: 0;
    background-color: #0f63cb;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}


#header > .header-bar {
    background-color: #f7eb06;
    width: 22px;
    height: 2px;
    padding: 2px;
    margin: 2px;
    -webkit-transition: top .1s ease-in-out;
    -moz-transition: top .1s ease-in-out;
    -ms-transition: top .1s ease-in-out;
    -o-transition: top .1s ease-in-out;
    transition: top .1s ease-in-out;
}

.content {
    position: relative;
    top: 10%;
    left: 50%;
}

.heading:before, .heading:after {
    content: ' * ';
    width: 10px;
    height: 2px;
    color: #0f63cb;
}

.heading {
    background-color: #f7eb06;
    width: max-content;
    box-shadow: wheat;
    font-family: "Herculanum";
}

.details {
    position: relative;
    top: 8%;
    margin-top: 10vh;
}

#slidebar-nav {
    position: fixed;
    width: 50vw;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 1em;
    text-align: left;
    padding: 50px;
    opacity: 0;
    /*overflow: auto;*/
    /*transform: translate3d(100%,0,0);;*/
    background-color: rgba(0, 96, 206, .95);
    transition: transform .14s linear, -webkit-transform .14s linear, opacity .14s;
}

.show {
    animation: fadeIn 2s forwards;
}

#slidebar-nav .collection {
    height: 50px;
    font-size: 30px;
    margin-right: 10px;
    color: white;
}

#slidebar-nav .collection a {
    color: white;
    text-shadow: 0.03em 0 rgb(0 96 206 / 95%), -0.03em 0 rgb(0 96 206 / 95%), 0 0.03em rgb(0 96 206 / 95%), 0 -0.03em rgb(0 96 206 / 95%), 0.06em 0 rgb(0 96 206 / 95%), -0.06em 0 rgb(0 96 206 / 95%), 0.09em 0 rgb(0 96 206 / 95%), -0.09em 0 rgb(0 96 206 / 95%), 0.12em 0 rgb(0 96 206 / 95%), -0.12em 0 rgb(0 96 206 / 95%), 0.15em 0 rgb(0 96 206 / 95%), -0.15em 0 rgb(0 96 206 / 95%);
}

.list-item > .list-item-list {
    padding: 2rem;
}

.icons {
    height: 20px;
    width: 20px;
    max-width: 100%;
    margin-top:5px;
}
.highlight {
    background-color: pink;
    font-family: Athelas;
    border-bottom: deeppink;
    padding: 1px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    body {
        display: flex;
        flex-direction: column;
        color: white;
    }

    body > div {
        width: 100%;
    }
}